<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed8056f573.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>TRAVEL:The World  | About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="logo lg-heading text-white">TW</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="about">
        <div class="container">
            <h2 class="lg-heading text-black about-heading"> About Us</h2><br>
            <div class="row about-wrapper">
                <p class="text-center">We have won World Travel Awards consecutively for 3 years.</p>
                <div class="col-lg-6 col-md-6 left">
                    <ul>
                        <li>Tourism Certified</li>
                        <li>Certified hotels</li>
                        <li>Economic Travelling</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 right">
                    <ul>
                        <li>Low cost Packages</li>
                        <li>Luxury Suites</li>
                        <li>Variety of Packages</li>
                    </ul>
                </div>
            </div>

            <div class="row count">
                <div class="col-lg-3 col-md-6 count-item count-item1">
                    <span>2200+</span>
                    <p>Travellers</p>
                </div>
                <div class="col-lg-3 col-md-6 count-item count-item2">
                    <span>500+</span>
                    <p>Places</p>
                </div>
                <div class="col-lg-3 col-md-6 count-item count-item3">
                    <span>400+</span>
                    <p>Guides</p>
                </div>
                <div class="col-lg-3 col-md-6 count-item count-item4">
                    <span>20+</span>
                    <p>Sports</p>
                </div>
            </div>

            <div class="row about-banner">
                <div class="col-lg-8 about-banner-left">
                    <p class="banner-line">
                        | What are you waiting for, reach us right now. 
                    </p>
                </div>
                <div class="col-lg-4 ms-auto about-banner-right">
                    <a href="./contact" class="banner-btn">Contact US</a>
                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <div class="social-media-links">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-4x"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-4x"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-4x"></i></a>
        </div>
        <p>Travel World &copy; 2020, All Rights Reserved.</p>
    </footer>   
</body>
</html>