<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed8056f573.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Jaipur:The Pink City</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="logo lg-heading text-white">TW</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="info container-fluid">

        <div class="container">
            <h1 class="city-heading text-center">JAIPUR</h1>
            <div class="visit white-bg container">
                <div class="container">
                    <h1 class="visit-heading">Places to visit</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <img class="img-fluid place-visit" src="../static/img/amer_fort.jpg">
                            <a href="https://en.wikipedia.org/wiki/Amer_Fort"><h2 class="text-center visit-subheading">Amer Fort</h2></a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img class="img-fluid place-visit" src="../static/img/city_palace.jpg">
                            <a href="https://en.wikipedia.org/wiki/City_Palace,_Jaipur"><h2 class="text-center visit-subheading">City Palace</h2></a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img class="img-fluid place-visit" src="../static/img/hawa_mahal.jpg">
                            <a href="https://en.wikipedia.org/wiki/Hawa_Mahal"><h2 class="text-center visit-subheading">Hawa Mahal</h2></a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img class="img-fluid place-visit" src="../static/img/nahargarh_fort.jpg">
                            <a href="https://en.wikipedia.org/wiki/Nahargarh_Fort"><h2 class="text-center visit-subheading">Nahargarh Fort</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="visit white-bg container">
            <div class="container">
                <h1 class="visit-heading">Food of Jaipur</h1>
                <p>
                    | Jaipur is undoubtedly one of the most popular destinations for foodies. It is the capital of the state in more than one sense. 
                    | You will find outlets of various cuisines and will never run out of options in the sparkling city. However, the most colourful 
                    | here will be the local cuisine where a number of traditional dishes and desserts flourish. These preparations are relished daily 
                    | by the locals and leave most tourist fascinated. Influenced by the Maharajas and Maharanis each element in a traditional Rajasthani
                    | thali has a story of its own.<br>Read here about the <a href="https://www.treebo.com/blog/street-food-in-jaipur/">Street Food in Jaipur</a>.
                </p>
                <h1>Some top resturants:-</h1>
                <ul>
                    <li>
                        <a href="https://www.zomato.com/jaipur/four-seasons-c-scheme">Four Seasons</a>
                    </li>
                    <li>
                        <a href="https://www.zomato.com/jaipur/handi-fusion-mi-road">Handi Fusion</a>
                    </li>
                    <li>
                        <a href=https://www.zomato.com/jaipur/indian-coffee-house-mi-road">Indian Coffee House</a>
                    </li>
                    <li>
                        <a href="https://www.zomato.com/jaipur/bake-hut-mi-road">Bake Hut</a>
                    </li>
                    <li>
                        <a href="https://www.zomato.com/jaipur/niros-mi-road">Niros</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="visit white-bg container">
            <div class="container">
                <h1 class="visit-heading">Best time to visit</h1>
                <p>
                    | November to March is the best time to visit Jaipur and other parts of Rajasthan as the weather ranges between 8-degree 
                    | Celcius during nights to 32-degree Celcius in the day. Summers are extremely hot, and sightseeing isn't a very joyful experience.
                    | Monsoons, on the other hand, are quite hot and humid which isn't an ideal time to visit too. January is an excellent time to visit Jaipur 
                    | because of the Kite Festival and also the Jaipur Literature Festival that's held around this time. 
                    | Sometime in the month of March, Jaipur witnesses the Elephant festival, just a day before Holi.<br>Click here to know <a href="http://www.tourism.rajasthan.gov.in/jaipur.html">more</a>
                </p>
                
            </div>
        </div>

    </section>

    <footer class="footer container-fluid">
        <div class="social-media-links">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-4x"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-4x"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-4x"></i></a>
        </div>
        <p>Travel World &copy; 2020, All Rights Reserved.</p>
    </footer>

</body>
</html>